@charset "utf-8";
/* CSS Document */

body{
	background: url(images/bg.png) no-repeat fixed;
	width:100%;
}

/* header-font */
h1
{
	color:#FFF;
	padding-right 20px: 
}

#img.source-image {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.img-logo
{
	width: 20%;
	height: 20%;
	
	padding-left:5px;
}

#home
{
	width:100%;
	height: 100%;
}

#header
{
	padding-top: 5px;
	width:100%;
	left: 0px;
}

	
	